.board {
    display: flex;
    gap: 40px;
    &__wrapper {
        position: relative;
        width: 300px;
        min-height: 300px;
        background: #FFFFFF;
        border: 2px solid #E6E6E6;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }
}