.columns {
    display: flex;
    gap: 24px;
    &__addTask {
        width: 100px;
        height: 38px;
        background: #85E0A3;
        border: none;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08), 0px 3px 5px rgba(0, 0, 0, 0.04), 0px 2.5px 2px rgba(0, 0, 0, 0.02);
        color: #1E1E1E;
        font-weight: 700;
        font-size: 15px;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        &:hover {
            background: #62eb8f;
        }
    }
    &__addTask_column {
        margin: 12px 0;
    }
    &__inputWrapper {
        padding-right: 30px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
    &__input {
        margin-top: 20px;
        width: 94%;
        margin-left: 10px;
        border:none;
        border-bottom:2px solid #E6E6E6;
        font-size: 13px;
        height: 27px;
    }
    &__input_less {
        width: 162px;
        margin: 0;
    }
}