.mainPage {
    min-width: fit-content;
    background-image: linear-gradient(235.09deg, #AFECD4 25.34%, #A0D4E2 76.89%);
    padding: 20px 35px;
    min-height: 100vh;
    &__canvas {
        display: flex;
        margin-top: 30px;
    }
}