.header {
    width: 100%;
    height: 80px;
    background: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
        font-weight: 700;
        font-size: 25px;
        letter-spacing: -0.02em;
        color: #2b1074;
    }
}